@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Average+Sans&display=swap');


html {
    scroll-behavior: smooth;
}

header{
  font-family: Average Sans;
  background-color: #f27f52;
  margin-bottom: 4rem;
  padding: 3rem;
}



h1, h2{
  font-family: Average Sans;
  color: #fdf8f6;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  margin-top: 5rem;
}

nav{
  font-size: 1.25rem;
}

a{
  color: #FFFDD0;
}

p{
  font-family: Atkinson Hyperlegible;
  color: #fdf8f6;
  font-size: 1.2rem;
  line-height: 1.5;
}

body{
  background-color: #372f2d;
  padding: 2rem;
  margin: 3rem;
}

img{
    max-width: 100%;
    width: auto;
}

footer{
  background-color: #f27f52;
  padding: 4rem;
  margin-top: 5rem;
  text-align: center;
}

.home {
    font-size: 2rem;
    /* border: solid red; */
    padding: 2rem;
}